@import url("https://fonts.googleapis.com/css2?family=Jost&family=Press+Start+2P&display=swap");
#wrapper {
	max-width: 960px;
	margin: 0 auto;
}

body {
  font-family: 'Jost', sans-serif;
  color: #000000;
  line-height: 1.5;
	background-image: url("img/watercolor.png");
}

header {
  font-family: 'Press Start 2P', cursive;
	margin: auto;
}

main {
	padding-top: 10px;
}

nav {
  left: 0;
  width: 100%;
	margin-top: 0;
}

nav ul {
  padding-left: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  box-shadow: 4px 14px 18px 1px rgba(0,0,0,0.43);
}

nav a {
  display: inline-block;
  background-color: #ffffff;
  padding: 5px;
  border-style: outset;
  border-width: 2px;
}

nav a:link {
  color: #8093f1;
}

nav a:visited {
  color: #f72585;
}

nav a:hover {
  color: #b388eb;
}

nav a:active {
  color: #f7aef8;
}

ul > li {
  display: inline-block;
  position: relative;
}

ul > li > ul {
  display: none;
}

ul > li:hover > ul {
  display: block;
  position: fixed;
}

ul > li > ul > li {
  display: block;
}



a:link {
  color: #000000;
}

a:visited {
  color: #ff6392;
}

a:hover {
  color: #b388eb;
}

a:active {
  color: #f7aef8;
}

img {
	border: solid;
	border-width: 2px;
	border-color: #ffc6ff;
}

/* These should be specific to about.html */
.aboutgrid-container {
	display: grid;
	grid-template-columns: 60% 36%;
	grid-template-rows: 1fr;
	gap: 20px 20px;
	grid-template-areas:
		"left right";
	align-content: space-evenly;
}
.aboutleft {
	float: left;
  width: 100%;
}

.aboutright {
	float: right;
  width: 100%;
  padding-left: 0px;
}

.container {
  padding-top: 0;
}

table, th, td {
  border: 5px solid #ffffff;
  border-collapse: collapse;
	height: 100%;
}
th, td {
  padding: 5px;
  text-align: left;
	width: auto;
	height: 100%;
}

/* These should be specific to resume.html */
.resumegrid-container {
  display: grid;
  grid-template-columns: 60% 36%;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas:
    "left right";
}
.left {
	grid-area: left;
}
.right {
	grid-area: right;
}

.left {
  float: left;
  width: 100%;
}
.right {
	float: right;
  width: 100%;
  padding-left: 0px;
}

.card {
	background-color: #ffc4d6;
	padding: 20px;
	margin-top: 20px;
	border-style: solid;
	border-color: #ffacc5;
	border-width: 20px;
}

.skills ul {
	list-style: none;
	padding-left: 2px;
}
.workexperience ul, li  {
	list-style: square;
  padding-left: 0;
}

.skills li > span {
  display: inline-block;
  width: 100%;
}

.expert::after {
  content: "游릭 游릭 游릭 游릭";
}

.advanced::after {
  content: "游릭 游릭 游릭";
}

.intermediate::after {
  content: "游릭 游릭";
}

.beginner::after {
  content: "游릭";
}
.resumefooter {
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .left, .right {
    width: 100%;
    padding: 0;
  }
}


/* These should be specific to pictures.html */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 15px 15px;
  grid-template-areas:
    "brunch family noelle"
    "seaspice polo wharf";
	align-content: space-evenly;
}

.brunch { grid-area: brunch;
}

.family { grid-area: family;
}

.noelle { grid-area: noelle;
}

.seaspice { grid-area: seaspice;
}

.polo { grid-area: polo;
}

.wharf { grid-area: wharf;
}

.picturesnav {
  overflow: hidden;
	border: 0;
}
.responsive {
  max-width: 100%;
  height: auto;
}
