body {
  font-family: "Rockwell-Regular", "Arial", serif;
  color: #000000;
  line-height: 1.5;
  background-color: #fff1e6;
}
section {
  background-color: #ffd5c2;
  width: auto;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 4em;
  margin-right: 4em;
  padding: 10px;
  border-top-style: double;
  border-right-style: double;
  border-bottom-style: double;
  border-left-style: double;
  border-color: rgb(200, 85, 61);
  border-top-width: 12px;
  border-right-width: 12px;
  border-bottom-width: 12px;
  border-left-width: 12px;
}

header {
  width: 960px;
  padding-top: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  padding-left: 2em;
  margin-top: 4em;
  margin-bottom: 4em;
  margin-left: 4em;
  margin-right: 4em;
}

img {
  width: auto;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}


nav {
  width: auto;
  display: inline-block;
  padding: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
  margin-left: 4em;
  margin-right: 4em;
}

nav ul {
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  display: inline-block;
  list-style-type: square;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  border-top-width: 1px;
  border-right-width: 1px;
}

nav li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #ffd5c2;
  box-shadow: 8px 12px 8px 4px rgba(84,8,4,0.6)
}

nav a {
  display: inline-block;
  background-color: #ffd5c2;
  padding-top: 15px;
  padding-right: 45px;
  padding-bottom: 15px;
  padding-left: 45px;
  border-top-style: double;
  border-right-style: double;
  border-bottom-style: double;
  border-left-style: double;
  border-top-width: 12px;
  border-right-width: 12px;
  border-bottom-width: 12px;
  border-left-width: 12px;
  margin: 0 auto;
}

nav a:link {
  color: rgb(200, 85, 61);
}

nav a:visited {
  color: hsl(28, 88%, 59%);
}

nav a:hover {
  color: #588b8b;
}
nav a:active {
  color: #540804;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-template-areas:
    "introduction    geography"
    "economy  communication";
}

#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#economy {
  grid-area: economy;
}

#communication {
  grid-area: communication;
}

#wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

a:link {
  color: rgb(200, 85, 61);
}

a:visited {
  color: hsl(28, 88%, 59%);
}

a:hover {
  color: #588b8b;
}

a:active {
  color: #540804;
}


h1 {
  color: #dd1c1a;
  font-size: 72px;
  font-family: "Luminari-Regular", "Arial", serif;
}

h2 {
  margin-top: 0;
  color: #588b8b;
}

h3 {
  color: hsl(28, 88%, 59%);
}

footer p {

  margin-left: 4em;
  color: #000000;
}

ul li {
  list-style-type: square;
  color: rgb(200, 85, 61);
}

table {
  color: rgb(200, 85, 61);
}

p {
  color: rgb(200, 85, 61);
}
